@using CapitalCoffee.Data.Access;

@if (HttpContext.Current.Session["userName"] != null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + (string)HttpContext.Current.Session["userName"] + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        @*<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
        <li>
            @Html.ActionLink("Profile", "Profile", "User", new { id = HttpContext.Current.Session["userId"] })
        </li>
        <li>
            @Html.ActionLink("Log Off", "LogOff", "User")
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "User")</li>
        <li>@Html.ActionLink("Log in", "Login", "User")</li>
    </ul>
}
