@model CapitalCoffee.Models.AddReviewViewModel

@{
    ViewBag.Title = "Add";
}



@using (Html.BeginForm("Add", "Review", null, FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal addReview">
        <h4>Add Review</h4>
        <hr />

        @if (TempData["notice"] != null)
        {
            @Html.Encode(TempData["notice"])
        }

        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.HiddenFor(model => model.ShopId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.ShopId)
                @Html.ValidationMessageFor(model => model.ShopId)
            </div>
        </div>

        <div class="form-group">
            @Html.HiddenFor(model => model.UserId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.ShopId)
                @Html.ValidationMessageFor(model => model.ShopId)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Rating, new { @class = "control-label col-md-2" })
            @*<div class="col-md-10">
                @Html.TextBoxFor(model => model.Rating, new { autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.Rating)
            </div>*@
            
            @*<div class="rateit" data-rateit-max="5"  id="rating" ></div>*@

            <input type="range" min="0" max="5" value="0" step="1" id="rating" name="rating">
            <div class="rateit" data-rateit-backingfld="#rating"></div>
            @Html.ValidationMessageFor(model => model.Rating)
        </div>

        

        <div class="form-group">
            @Html.LabelFor(model => model.ReviewText, new { @class = "control-label col-md-2" })
            <div class="col-md-10 addReviewText">
                @Html.TextBoxFor(model => model.ReviewText, new { autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.ReviewText)
            </div>
        </div>

      
        <div class="form-group">
            @Html.LabelFor(model => model.ReviewPicture, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input name="ReviewPictures" type="file" accept="image/gif, image/jpeg, image/png" multiple/>
                @Html.ValidationMessageFor(model => model.ReviewPicture)
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-info" />
                @Html.ActionLink("Back", "Details", "Shop", new { id = Model.ShopId }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/rateit")
    @Styles.Render("~/bundles/rateitstyle")
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script type="text/javascript">
    $("#rating").click(function () {

        var x = $(this).rateit('value');
        $("#rating").val(x);
    });

</script>