@model CapitalCoffee.Data.Models.Review

@{
    ViewBag.Title = "Edit";
}

<h2 style="color: white;">Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal editReview">
  
        <div class="form-group">
            @Html.HiddenFor(model => model.ReviewId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.ReviewId)
                @Html.ValidationMessageFor(model => model.ReviewId)
            </div>
        </div>

        <div class="form-group">
            @Html.HiddenFor(model => model.ShopId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.ShopId)
                @Html.ValidationMessageFor(model => model.ShopId)
            </div>
        </div>

        <div class="form-group">
            @Html.HiddenFor(model => model.UserId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.UserId)
                @Html.ValidationMessageFor(model => model.UserId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rating, new { @class = "control-label col-md-2" })
            <input type="range" min="0" max="5" value="@Model.Rating" step="1" id="rating" data-rateit-value="3" data-rateit-ispreset="true" name="rating">
            <div class="rateit"  data-rateit-backingfld="#rating"></div>
            @Html.ValidationMessageFor(model => model.Rating)
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ReviewText, new { @class = "control-label col-md-2" })
            <div class="col-md-10  editText">
                @Html.TextAreaFor(model => model.ReviewText, new { style = "width: 300px; height: 150px;" })
                @Html.ValidationMessageFor(model => model.ReviewText)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-info" />
                @Html.ActionLink("Back", "Details", "Shop", new { id = Model.ShopId }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/rateit")
    @Styles.Render("~/bundles/rateitstyle")
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<script type="text/javascript">
    $("#rating").click(function () {

        var x = $(this).rateit('value');
        //$("#rating").val(x);
        console.log(x);
    });

</script>