@model CapitalCoffee.Models.DetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2 id="detailsTitle">@Model.SelectedShop.Name</h2>

<div id="shopCarousel" class="carousel slide" data-ride="carousel">

    @if(@Model.ReviewPictures.Count() < 1)
    {
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="https://biz.ttrumpet.com/images/no-image-selected-ttrumpet.png" alt="First" />
            </div>  
        </div>
    }
    else if(@Model.ReviewPictures.Count() == 1) 
    {
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                @*<img src="https://s3-media2.fl.yelpcdn.com/bphoto/gCJxTUpIK6PBWTT8LIcQhA/ls.jpg" alt="First" />*@
                <img src='@Url.Action( "ShowReviewPicture", "Photo", new { id = @Model.SelectedShop.ShopId} )' />

            </div>  
        </div>
    }
    else{ 
    <div class="carousel-inner" role="listbox">

        @for (int i = 0; i < Model.ReviewPictures.Count(); i++ )
        {
            if(i == 0)
            {
                <div class="item active">                
                    <img src='@Url.Action("ShowSelectedPicture", "Photo", new { id = Model.ReviewPictures[i].ReviewPictureId })' />
                </div>   
            }
            else
            {
                <div class="item">                
                    <img src='@Url.Action("ShowSelectedPicture", "Photo", new { id = Model.ReviewPictures[i].ReviewPictureId })' />
                </div> 
            }
                
        }
    </div>
    <a class="left carousel-control" href="#shopCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#shopCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    }
</div> 

<div id="infoContainer">
    <div id="avgRating" class="pull-left col-lg-2">
        <h3>@Model.AverageRating / 5.0</h3>
        <h4>Based on @Model.Reviews.Count() ratings</h4>
    </div>

    <div id="shopInfoTable" class="pull-right col-lg-8">
        
        <div id="basicInfo">
            @if (@Model.SelectedShop.Address2 != null)
            {
                <h5>@Model.SelectedShop.Address1, @Model.SelectedShop.Address2</h5>
            }
            else
            {
                <h5>@Model.SelectedShop.Address1</h5>
            }

            <h5>@Model.SelectedShop.City, @Model.SelectedShop.State @Model.SelectedShop.Zip</h5>

            @if (@Model.SelectedShop.IsLocal == true)
            {
                <h5><b>Local Shop</b></h5>
            }
            else
            {
                <h4>National Chain</h4>
            }

            @if (@Model.SelectedShop.WebsiteUrl != null)
            {
                <h5><a href="@Model.SelectedShop.WebsiteUrl">@Model.SelectedShop.Name's Website</a></h5>
            }

            @if (@Model.SelectedShop.MenuUrl != null)
            {
                <h5><a href="@Model.SelectedShop.MenuUrl">@Model.SelectedShop.Name's Menu</a></h5>
            }

            @if (@Model.SelectedShop.FacebookUrl != null)
            {
                <h5><a href="@Model.SelectedShop.FacebookUrl">@Model.SelectedShop.Name's Facebook</a></h5>
            }

            @if (@Model.SelectedShop.TwitterUrl != null)
            {
                <h5><a href="@Model.SelectedShop.TwitterUrl">@Model.SelectedShop.Name's Twitter</a></h5>
            }

            @if (@Model.SelectedShop.InstagramUrl != null)
            {
                <h5><a href="@Model.SelectedShop.InstagramUrl">@Model.SelectedShop.Name's Instagram</a></h5>
            }

        </div>

        <div id="hours">
          
            <table id="hoursTable">
                <tr>
                    <th>Day</th>
                    <th>Open</th>
                    <th>Close</th>
                </tr>
                @foreach (var h in @Model.HoursOfOperation)
                {
                    if(h == null)
                    {
                        <h1>TEST</h1>
                    }
                    <tr>
                        <td>@h.DayOfWeek</td>
                        <td>@h.OpenTime.ToString(@"hh\:mm")</td>
                        <td>@h.CloseTime.ToString(@"hh\:mm")</td>
                    </tr>
                }
            </table>
            
        </div>
    </div>


</div>

<div id="reviewsContainer">
    <div>
    <div id="reviewListHeader">
            @if(Model.UserHasReviewedShop == false)
            {
                @Html.ActionLink("Add Review", "Add", "Review", new { shopId = Model.SelectedShop.ShopId }, new { @class = "btn btn-primary"})
                @*<button>Add Review</button>*@
            }
            else
            {
                @Html.ActionLink("Edit Review", "Edit", "Review", new { shopId = Model.SelectedShop.ShopId }, new { @class = "btn btn-primary"})

                @*<button>Edit Review</button>*@
            }
    </div>
    @if (Model.Reviews.Any())
    {
        foreach (var r in Model.Reviews)
        {
            <div id="singleReview">
                <div id="userInfo" class="col-md-6">
                    <h4>@r.UserId</h4>
                </div>

                <div id="reviewInfo" class="col-md-6">
                    <h4>@r.Rating</h4>
                    <h4>@r.ReviewText</h4>
                </div>
            </div>
        }
    }
    </div>
</div>