@model CapitalCoffee.Models.ProfilePageViewModel

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true)

        <div class="form-group">
            <div class="col-md-10">
                <input name="photo" type="file" accept="image/gif, image/jpeg, image/png" />
                @Html.ValidationMessageFor(model => model.ProfilePicture)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User.Username, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.Username)
                @Html.ValidationMessageFor(model => model.User.Username)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User.Tagline, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.Tagline)
                @Html.ValidationMessageFor(model => model.User.Tagline)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.User.EmailAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.User.EmailAddress)
                @Html.ValidationMessageFor(model => model.User.EmailAddress)
            </div>
        </div>

        <div class="form-group">
            @Html.HiddenFor(model => model.User.UserId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.User.UserId)
                @Html.ValidationMessageFor(model => model.User.UserId)
            </div>
        </div>
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@Html.ActionLink("Change Password", "ChangePassword")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(function () {
        $('.details').click(function () {
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');

            $.ajax({
                url: '@Url.Action("Details")',
                type: 'GET',
                data: { id: id },
                success: function (partialView) {
                    $('#detailsPlace').html(partialView);
                    $('#detailsPlace').show();
                }
            });
        });
    });
</script>
