@model CapitalCoffee.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
}

@if (TempData["notice"] != null)
{
    <div id="invalidEmail" style="color:white;">
        @Html.Encode(TempData["notice"])
    </div>
}

<h2 style="color: white;">Change Password</h2>

@using (Html.BeginForm("ChangePassword", "User", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" id="changePassword">

        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.OldPassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10 editText">
                @Html.PasswordFor(model => model.OldPassword)
                @Html.ValidationMessageFor(model => model.OldPassword)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewPassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10 editText">
                @Html.PasswordFor(model => model.NewPassword)
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VerifyNewPassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10 editText">
                @Html.PasswordFor(model => model.VerifyNewPassword)
                @Html.ValidationMessageFor(model => model.VerifyNewPassword)
            </div>
        </div>

        <div class="form-group">
            @Html.HiddenFor(model => model.UserId, new { @class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.HiddenFor(model => model.UserId)
                @Html.ValidationMessageFor(model => model.UserId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

