@model CapitalCoffee.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "ForgotPassword";
}

<h2 style="color: white;">Forgot Password</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal addReview">
        @Html.ValidationSummary(true)
        <h5 class="col-md-offset-1">Enter your email to receive a new password: </h5>
        <div class="form-group">
            @Html.LabelFor(model => model.EmailAddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EmailAddress)
                @Html.ValidationMessageFor(model => model.EmailAddress)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-primary" />
                @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}


