@model CapitalCoffee.Models.RegisterUserViewModel

@{
    ViewBag.Title = "Register";
}

@if (TempData["notice"] != null)
{
    <div id="invalidEmail">
        @Html.Encode(TempData["notice"])
    </div>
}

<h2 style="color: white;">Register Account</h2>

@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    


    <div class="form-horizontal register-form">
       
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Username, new { @class = "control-label col-md-2"})
            <div class="col-md-10 registerText">
                @Html.TextBoxFor(model => model.Username, new { autocomplete = "off"})
                @Html.ValidationMessageFor(model => model.Username)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10 registerText">
                @Html.TextBoxFor(model => model.Email, new { autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10 registerText">
                @Html.PasswordFor(model => model.Password, new { autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.VerifyPassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10 registerText">
                @Html.PasswordFor(model => model.VerifyPassword, new { autocomplete = "off" })
                @Html.ValidationMessageFor(model => model.VerifyPassword)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-default" />
            </div>
        </div>


    </div>
}
