@model PagedList.IPagedList<CapitalCoffee.Data.Models.Shop>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Home Page";
}

<div id="container">
    <div id="map">

    </div>

    <div id="shopList">
        <div id="shopListHeader">
            <form method="get" action="@Url.Action("Index")">
                <input type="search" name="searchTerm" autocomplete="off" />
                <input type="submit" value="Search By Name" class="btn btn-info" />
            </form>
        </div>
        <div class="pagedList" data-pt-target="#shopList">
            @foreach(var shop in Model)
            {
                <div>
                <h4>@shop.Name</h4>
                <h6>@shop.Address1, @shop.Address2, @shop.City, @shop.State @shop.Zip</h6>   
                </div>
            }
        </div>

        <div id="pager">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), PagedListRenderOptions.MinimalWithItemCountText)
        </div>
    </div>
</div>


<script>
    var map;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 30.4383, lng: -84.2807 },
            zoom: 12
        });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnWvX5ojfzQy6HOobhbn8mO5bxJggVl54&callback=initMap"
        type="text/javascript"></script>